header {
    background: (#324a7b);
    border-bottom: 1px solid #eee;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    padding: 1em 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }