footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: (#324a7b);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
  }