$backgroundColor: #f5f5f5;
$textColor: #333;
$borderColor: #ddd;
$shadowColor: rgba(0, 0, 0, 0.1);
$jsonBackgroundColor: #282c34;
$jsonTextColor: #61dafb;
$jsonKeyColor: #0098f7;
$jsonValueColor: #98c379;
$jsonStringColor: #e06c75;
$getColor: #4caf50;
$postColor: #2196f3;
$putColor: #ff9800;
$deleteColor: #f44336;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: Arial, Helvetica, sans-serif; /* Set default font-family */
}

body {
  background: $backgroundColor;
  color: $textColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    border: 1px solid $borderColor;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 4px $shadowColor;

    div {
      margin: 0.5em 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
  height: auto; /* Adjust height to content */
  padding: 1em;
  background: #fff;
  border: 1px solid $borderColor;
  border-radius: 8px;
  max-width: 600px;
  margin: 2em auto; /* Center the form horizontally and add margin */
  box-shadow: 0 2px 4px $shadowColor;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;

    span {
      margin-bottom: 0.5em;
    }

    input, textarea {
      padding: 0.5em;
      margin-bottom: 0.5em; /* Reduce margin for less vertical space */
      width: 80%;
      border: 1px solid $borderColor;
      border-radius: 4px;
    }

    button[type="submit"] {
      padding: 0.5em 1em;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100px;
      margin-top: 1em;

      &:hover {
        background-color: #555;
      }
    }
  }

  .methods {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1em;

    button {
      cursor: pointer;
      padding: 0.5em 1em;
      border: 1px solid $borderColor;
      border-radius: 4px;
      text-align: center;
      margin: 0 0.5em;
      flex: 1;
      max-width: 100px;
      transition: background-color 0.3s ease;

      &.active {
        font-weight: bold;
      }

      &.GET {
        background-color: $getColor;
        color: #fff;

        &:hover {
          background-color: darken($getColor, 10%);
        }
      }

      &.POST {
        background-color: $postColor;
        color: #fff;

        &:hover {
          background-color: darken($postColor, 10%);
        }
      }

      &.PUT {
        background-color: $putColor;
        color: #fff;

        &:hover {
          background-color: darken($putColor, 10%);
        }
      }

      &.DELETE {
        background-color: $deleteColor;
        color: #fff;

        &:hover {
          background-color: darken($deleteColor, 10%);
        }
      }
    }
  }
}

.history-container {
  padding: 1em;
  background: #fff;
  border: 1px solid $borderColor;
  border-radius: 8px;
  max-width: 600px;
  margin: 2em auto;
  box-shadow: 0 2px 4px $shadowColor;

  .history-list {
    list-style-type: none;
    padding: 0;

    .history-item {
      margin: 10px 0;
      padding: 0.5em;
      border-radius: 4px;

      .history-button {
        width: 100%;
        padding: 0.5em 1em;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: left;
        transition: background-color 0.3s ease;

        &.GET {
          background-color: $getColor;
          color: #fff;

          &:hover {
            background-color: darken($getColor, 10%);
          }
        }

        &.POST {
          background-color: $postColor;
          color: #fff;

          &:hover {
            background-color: darken($postColor, 10%);
          }
        }

        &.PUT {
          background-color: $putColor;
          color: #fff;

          &:hover {
            background-color: darken($putColor, 10%);
          }
        }

        &.DELETE {
          background-color: $deleteColor;
          color: #fff;

          &:hover {
            background-color: darken($deleteColor, 10%);
          }
        }
      }
    }
  }
}

.response-container, .request-params {
  pre {
    background: $jsonBackgroundColor;
    color: $jsonTextColor;
    padding: 1em;
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .json-key {
    color: $jsonKeyColor;
  }

  .json-value {
    color: $jsonValueColor;
  }

  .json-string {
    color: $jsonStringColor;
  }
}
